<!DOCTYPE html>
<html lang="es" ng-app="site">
<head>
    <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">
    <meta charset="ISO-8859-1"> 

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible"  />

    <title>Confederación Argentina de Bochas</title>

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @System.Web.Optimization.Styles.Render("~/site/css")

    <!-- Moderna Theme -->
    <link href="/Content/ModernaTheme/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/ModernaTheme/jquery.fancybox.css" rel="stylesheet">
    <link href="/Content/ModernaTheme/jcarousel.css" rel="stylesheet" />
    <link href="/Content/ModernaTheme/flexslider.css" rel="stylesheet" />
    <link href="/Content/ModernaTheme/style.css" rel="stylesheet" />
    <link href="/Content/ModernaTheme/default.css" rel="stylesheet" />
    <link href="/Content/custom.css" rel="stylesheet" />


    @System.Web.Optimization.Scripts.Render("~/site/libs")
    <script src="/libs/angular-ui-router.min.js"></script>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.js"></script>
    <![endif]-->

</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=1861248747424624";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="wrapper" style="overflow:hidden">
        <header></header>
        
        <loadingload></loadingload>
        <div ui-view></div>

    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

    <script src="/app/appSite.js"></script>

    <script src="/js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    @System.Web.Optimization.Scripts.Render("~/site/js")
    @System.Web.Optimization.Scripts.Render("~/site/controllers")
    @System.Web.Optimization.Scripts.Render("~/site/services")
    @System.Web.Optimization.Scripts.Render("~/site/directives")

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.pack.js"></script>
    <script src="/js/jquery.fancybox-media.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script src="/js/portfolio/jquery.quicksand.js"></script>
    <script src="/js/portfolio/setting.js"></script>
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/animate.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/dateUtils.js"></script>
    <script src="/libs/angular-sanitize.min.js"></script>
    <script src="/app/shared/filters/site/zeroPadding.js"></script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-20261080-2', 'auto');
        ga('send', 'pageview');
    </script>


</body>
</html>
